main {
    background-color: $white;
    color: black;
    float: right;
    width: $content-width-desktop;
    min-height: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    left: $menu-size;
    top: 0;
    @include mobile {
        top: $mobile-menu-height;
        left: 0;
        width: 100%;
        height: calc(100% - #{$mobile-menu-height});
    }
    &.no-menu {
        width: 100%;
        left: 0;
        top: 0;
    }
}
footer {
    width: 100%;
    text-align: center;
    color:$p_text;
    display: flex;
    justify-content: center;
    font-size: 0.7em;
    p {
        margin: 0;
    }
}

.is-minimal-menu {
    main {
        width: $content-width-desktop-minimal-menu;
        left: $minimal-menu-size;
        @include mobile {
            top: $minimal-menu-size;
            left: 0;
            width: 100%;
            height: calc(100% - #{$minimal-menu-size});
        }
    }
}