.modal {
    &__picture-zoomed {
        background-color: rgba(0,0,0,0.5);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 10000;
        top: 0;
        left: 0;
        cursor: zoom-out;
        transition: opacity 0.2s ease-in-out;
        opacity: 1;
        @include mobile {
            background-size: contain;
        }
        &.hidden {
            opacity: 0;
        }
    }
}