.post {
    $root: &;
    font-size: 1.2em;
    color: black;
    @include hyperlink-convention();
    @include mobile{
        font-size: 1em;
    }
    .post-cover {
        img {
            min-width: 90px;
            min-height: 90px;
        }
    }
    figure {
        margin: 0;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: -0.5em;
        margin-right: -0.5em;
        width: calc(100% + 1em);
        & > pre {
            overflow: auto;
        }

    }
    p, ul {
        margin-bottom: $gap * .5;
        margin-top: $gap * .5;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    li {
        display: list-item;
    }

    & &-content, & &-metadata {
        background: $white;
        padding: 0 2rem 1rem 2rem;
        border-radius: 10px;
        @include mobile {
            padding: 0.2em 1.2rem 0.6rem 1.2rem;
        }
    }

    header {
        padding: 1em 0.5em 0.8em 0.5em;
        h1 {
            padding: 0;
            line-height: 1em;
            margin-bottom: 0.5em;
        }
        p {
            margin: 0;
            color: $p_text;
        }
    }

    & &-metadata {
        text-align: left;
        p {
            font-size: 1em;
            margin-top: 0.4em;
            margin-bottom: 0.4em;
            &:first-of-type {
                margin-top: 0;
            }
            &:last-of-type {
                padding-bottom: 1em;
            }
        }
        a {
            color: $p_text;
            @include underline-on-hover($p_text);
        }
    }

    & &-cover {
        &_image {
            display: block;
            max-width: 100%;
            width: auto;
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
            max-height: 65vh;
            margin: auto;
        }
    }

    a {
        font-size: 1em;
    }
}
