# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: minimal-music-project
tagline: A site showing the usage of Jekyll custom theme
email: email@example.com
description: >- # this means to ignore newlines until "baseurl:"
  This website was created as a demonstration for Jekyll custom theme
  named minimal-music-project. Its main feature is to make it easy to create
  websites for music projects
baseurl: "/minimal-music-project" # the subpath of your site, e.g. /blog
url: "https://itsmeaga1n.github.io" # the base hostname & protocol for your site, e.g. http://example.com
author: itsmeaga1n
twitter:
  username: itsmeaga1n
  card: summary
plugins:
  - jekyll-seo-tag

# Build settings
markdown: kramdown
remote_theme: ItsMeaga1n/minimal-music-project
# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - screenshot.png
  - docs/
  - node_modules