<aside class="menu">
    <div class="menu-top">
        <div class="menu-top_logo">
            <a href="{{ '/' | relative_url }}" >
                <img src="{{ site.data.metaData.logo | relative_url }}" alt="Logo" onerror="this.style.display='none'">
            </a>
        </div>
        <div class="menu-top_expand" onclick="toggleExpander(this)">
            <div class="bar_top"></div>
            <div class="bar_middle"></div>
            <div class="bar_bottom"></div>
        </div>
        <ul class="navigation">
            {% for menu_item in site.data.menu.menu_pages %}
            <li>
                <a href="{{ menu_item.url | relative_url }}" category="{{ menu_item.category }}" title="{{ menu_item.tooltip }}"
                {% if menu_item.category == page.category or page.categories contains menu_item.category %}
                    class="selected"
                {% endif %}
                >
                    <span>{{ menu_item.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="menu-contact">
        {% for contact in site.data.menu.menu_contacts %}

        <a href="{{ contact.url | relative_url }}" target="{{ contact.target }}">
            <i class="{{ contact.faicon }}"></i>
        </a>
        {% endfor %}
    </div>
</aside>
