@mixin tooltip {
    position: relative;
    &:hover .tooltip {
        visibility: visible;
        opacity: 1;
      }
    & .tooltip {
        visibility: hidden;
        width: 120px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 14px;
        &::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
          }
    }
}

@mixin hyperlink-convention {
    a {
      transition: all 300ms ease 0s;
      cursor: pointer;
      text-decoration-line: none;
      text-decoration: underline $black;
      &:hover {
          color: $black;
          font-weight: 500;
      }
  }
}