<!doctype html>
<html lang="{{ site.data.metaData.lang }}">
  <head>
    {% include common-head.html %}
  </head>
  <body>
    {% include menu.html %}
      <main class="content-layout">
          {{ content }}
          {% include footer.html %}
      </main>
      {% if site.data.metaData.cookies.enabled %}
      <script>
        {% include cookies.js %}
      </script>
    {% endif %}
    <script>
      {% include common.js %}
    </script>
    {% include customizationsScripts.html %}
  </body>
</html>