---
layout: default
---
<div class="content-container">
    <div class="discography">
        {{ content }}
        {% for post in paginator.posts %}
        {% if post.categories contains page.category %}
        <hr>
        {% include discography-entry.html currPost=post %}
        {% endif %}
        {% endfor %}
        <!-- 
            Showing buttons to move to the next and to the previous list of posts (pager buttons).
        -->
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}">&larr; Newer Posts</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next">
                <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}">Older Posts &rarr;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>