---
layout: default
category: home
---
<div class="content-container">
    <div class="post-feed">
        {{ content }}
        {% for post in paginator.posts %}
        {% if post.categories contains page.category %}
        <hr>
        <article>
            <header>
                <p class="article-date">{{ post.date | date: "%Y-%m-%d" }}</p>
                <h2>
                    {% if post.external_url %}
                    <a href="{{ post.external_url | relative_url }}" target="_blank">
                        {% else %}
                        <a href="{{ post.url | relative_url }}">
                            {% endif %}
                            {{ post.title }}
                        </a>
                </h2>
            </header>
            <section>
                <figure>
                    <div class="click-to-enlarge">
                        <img
                            click-to-enlarge 
                            {% if post.image_alt %}
                            alt="{{ post.image_alt }}"
                            {% endif %}
                            class="post-feed_image"
                            src="{{ post.image | relative_url }}"
                            {% if post.responsiveImage %}
                            srcset="{% for img in post.responsiveImage %}{{ img.src | relative_url }} {{ img.size }}w{% if forloop.last == false %},{% endif %}{% endfor %}"
                            sizes="30vw"
                            {% endif %}
                        />
                    </div>
                </figure>
                <p>
                    {% if post.description %}
                    {{ post.description }}
                    {% else %}
                    {{ post.excerpt | strip_html }}
                    {% endif %}
                </p>
            </section>
            {% include read-more.html currPost=post %}
        </article>
        {% else %}
        <hr>
        <article>
            <header>
                <p class="article-date">{{ post.date | date: "%Y-%m-%d" }}</p>
                <h2>
                    {% if post.external_url %}
                    <a href="{{ post.external_url | relative_url }}" target="_blank">
                        {% else %}
                        <a href="{{ post.url | relative_url }}">
                            {% endif %}
                            New release: {{ post.title }}
                        </a>
                </h2>
            </header>
            {% include discography-entry.html currPost=post %}
        </article>

        {% endif %}
        {% endfor %}
        {% include pagination-buttons.html %}
    </div>
</div>