---
layout: default
---
<div class="post">

    <div class="content-container {{ page.category }}">
        
        <header>
            <h1>{{ page.title }}</h1>
            {% if page.image %}
                <figure class="post-cover">
            <!-- TODO: Images for diffrent screen size -->
                    <div class="click-to-enlarge">
                        <img click-to-enlarge src="{{ page.image | relative_url }}" alt="{{ page.image_alt }}" class="post-cover_image" />
                    </div>
                </figure>
            {% endif %}
        </header>
        <div class="post-content">
            {{ content }}
        </div>
        <div class="post-metadata">
            {% include discography-entry-metadata.html currPost=page %}
        </div>
    </div>
</div>
