---
layout: default
---
<div class="post">
    <div class="content-container {{ page.category }}">

        <header>
            <h1>{{ page.title }}</h1>
            {% if page.image %}
                <figure class="post-cover">
                    <div class="click-to-enlarge">
                        <img
                            click-to-enlarge
                            {% if page.image_alt %}
                            alt="{{ page.image_alt }}"
                            {% endif %}
                            class="post-cover_image webfeedsFeaturedVisual"
                            src="{{ page.image | relative_url }}"
                            {% if page.responsiveImage %}
                            srcset="{% for img in page.responsiveImage %}{{ img.src | relative_url }} {{ img.size }}w{% if forloop.last == false %},{% endif %}{% endfor %}"
                            {% endif %}
                        />
                    </div>
                </figure>
            {% endif %}
        </header>
        <div class="post-content">
            {{ content }}
        </div>
        <div class="post-metadata">
            {% include discography-entry-metadata.html currPost=page %}
        </div>
    </div>
</div>
